#lifeStyle {
  overflow: hidden;
  position: relative;
  

  .carousel-icon {
    position: absolute;
    bottom: 9%;
    cursor: pointer;
    padding: 20px 22px;
    color: black;
    
  }

  .left-icon {
    left: 58%;
    border-radius: 20px;
    box-shadow:2px 2px grey;
    
  }

  .right-icon {
   left: -493%; 
   margin-left: 1rem;
   border-radius: 20px;
   box-shadow: 2px 2px grey;
  }

  .carousel-indicators {
    display: none;
  }

  .sliderContent {
   
    position: absolute;
    left: 0;
    bottom: 0;
    
  }
  img{
   height: 650px;
   width: 100%;
  }
  .slide{
   padding-bottom: 3rem;
   margin-left: 2rem;
  
  }
}
