
.buttons{
   padding-bottom: 1rem;
}
button span{
   color: goldenrod;
   font-size: bold;
}

.click{
   padding-left: 2rem;
}
.left{
   margin-left: 2rem;
   border-radius: 20px;
   padding: 5px  10px;
   box-shadow: 0 2px 2px 2px rgb(88, 88, 88);
   border: none;
   background-color: white;
}
.leftarrow{
   margin-left: .8rem;
   border-radius: 20px;
   padding: 5px  10px;
   box-shadow: 0 2px 2px 2px rgb(88, 88, 88);
   border: none;
   background-color: white;
}