#lifeStyle {
  overflow: hidden;
  position: relative;
  background-color: yellow;

  .carousel-icon {
    position: absolute;
    bottom: 15%;
    cursor: pointer;
  }

  .left-icon {
    left: 58%;
    background-color: aqua;
  }

  .right-icon {
   left: -493%;
    background-color: plum;
  }

  .carousel-indicators {
    display: none;
  }

  .sliderContent {
    position: absolute;
    left: 0;
    bottom: 13%;
  }
}
