#about {
  overflow: hidden;
  padding: 5rem 0;

  .aboutRight {
    position: relative;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .icon {
    font-size: 2.3rem;
  }

  .subContent {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .desc {
    font-size: 0.9rem;
    font-weight: 500;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .ytPlay {
    position: absolute;
    background-color: #ff0000 !important;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

$primary: #ffff;

.wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;

  .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: $primary;
    margin: auto;
    transform: scale(1, 1);

    &.pulse {
      display: flex;
      align-items: center;
      justify-content: center;
      animation-timing-function: ease;
      animation: pulse 2s infinite;
      background-color: lighten($primary, 25%);
    }
  }

  svg {
    fill: darken(#ff0000, 12%);
    stroke: darken(#ff0000, 12%);
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      fill: darken(#ff0000, 17%);
      stroke: darken(#ff0000, 17%);
      transform: scale(1.2, 1.2);
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
}
