#footer {
  overflow: hidden;
  padding: 2.5rem 0;
  background: #272b2e;

  a {
    color: #f7f7f7;
    margin-left: 1rem;
    margin-right: -0.5rem;
  }
  a img {
    height: 20px;
    width: 20px;
  }
}


.icon1 {
  padding: 4px;
  background-color: goldenrod;
  border-radius: 4px;
  height: 36px;
}
.phoneIcon {
  padding-bottom: 50px;
  cursor: pointer;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 99;
  
}
.Icon{
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 99;
}
.icon2{
  height: 36px;
}
.drawer {
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  left: 2%;
  cursor: pointer;
}

.ant-drawer .ant-drawer-content {
  background-color: goldenrod;
  top: 10%;
  right: 0;
  position: fixed;
  height: 350px;
  width: 200px;
}

.ant-drawer .ant-drawer-mask {
  background: none;
}

.ant-drawer-content-wrapper {
  box-shadow: none !important;
  height: 400px;
}

.ant-drawer .ant-drawer-body {
  overflow: hidden;
  height: 400px;
}
