#footer {
  overflow: hidden;
  padding: 2.5rem 0;
  background: #272b2e;

  a {
    color: #f7f7f7;
    margin-left: 1rem;
    margin-right: -0.5rem;
  }
  a img {
    height: 20px;
    width: 20px;
  }
}

.whatsAppIcon {
  position: fixed;
  top: 30%;
  // background-color: blueviolet;
  right: 0;
  z-index: 99;
 
  
}
.whatsAppIcon img{

  height: 36px;
}
.icon1{
  padding: 4px;
  background-color: goldenrod;
  border-radius: 4px;
}
.phoneIcon{
  padding-bottom: 50px;

}
.drawer{
  position: relative;
}
.close{
  font-size: 1.1rem;
  position: absolute;
  top:-1%;
  left: .5%;
}
.info{
  color: white;
}

.ant-drawer .ant-drawer-content {
  background-color: goldenrod;
  top: 29%;
  right: 0;
  position: fixed;
  height: 400px;
  width: 200px;
 
  
}

.ant-drawer .ant-drawer-mask {
  background: none;
  
}

.ant-drawer-content-wrapper {
  box-shadow: none !important;
  
}
