#homeSearchWidget {
  overflow: hidden;
  padding: 5rem 0;

  .widgetTitle {
    font-size: 2rem;
    font-weight: 600;
  }

  .custom-button {
    color: #ffac44;
    font-size: 18px;
    background-color: white;
    border-color: white;
    text-decoration: none;
  }

  .custom-button:hover {
    text-decoration: underline;
    background-color: white;
    color: #ffac44;
    border-color: white;
  }
}
