#banner {
  overflow: hidden;
  height: 80vh;

  img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }

  .carousel-control-next,
  .carousel-control-prev {
    background: #fff;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-next {
    right: 4%;
    transform: translate(50%, -50%);
  }

  .carousel-control-prev {
    left: 4%;
    transform: translate(-50%, -50%);
  }

  .carousel-indicators [data-bs-target] {
    display: none;
  }
}
