#banner {
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }

  .carousel-control-next-icon {
    background-image: url("../../assets/arrowRight.jpg");
  }

  .carousel-control-prev-icon {
    background-image: url("../../assets/arrowRight.jpg");
  }
  .carousel-indicators [data-bs-target] {
    display: none;
  }
}
